<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit"><!-- 启用浏览器的极速模式(webkit) -->
<title>系统设置</title>
<script type="text/javascript">
</script>